<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;margin:0;padding:0;background-color:#f2f2f2;height:100%!important;width:100%!important">
        <tbody>
            <tr>
                <td align="center" valign="top" style="margin:0;padding:20px;border-top:0;height:100%!important;width:100%!important">

                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border:0">
                        <tbody>
                            <tr>
                                <td align="center" valign="top">

                                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                        <tbody>
                                            <tr>
                                                <td valign="top" style="padding-top:9px">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                        style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top">
                                                                    <table align="right" border="0" cellpadding="0"
                                                                        cellspacing="0" width="197" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>

                                                                                <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:0;color:#606060;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">

                                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                        style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" style="padding:9px">
                                                                    <table align="left" width="100%" border="0"
                                                                        cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">


                                                                                    <img align="center" alt="blockmedx-logo"
                                                                                        src="https://s3.us-east-2.amazonaws.com/blockmedx-logos/singleline_Logo.png"
                                                                                        width="564" style="max-width:1000px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;outline:none;text-decoration:none"
                                                                                        class="CToWUd a6T" tabindex="0">
                                                                                    <div class="a6S" dir="ltr" style="opacity: 0.01; left: 586.5px; top: 239px;">
                                                                                        <div id=":p0" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                                            role="button" tabindex="0"
                                                                                            aria-label="Download attachment "
                                                                                            data-tooltip-class="a1V"
                                                                                            data-tooltip="Download">
                                                                                            <div class="aSK J-J5-Ji aYr"></div>
                                                                                        </div>
                                                                                    </div>


                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">

                                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                        style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top">

                                                                    <table align="left" border="0" cellpadding="0"
                                                                        cellspacing="0" width="600" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>

                                                                                <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left">

                                                                                    &nbsp;
                                                                                    <hr>&nbsp;
                                                                                    <h1 style="text-align:center;margin:0;padding:0;display:block;font-family:Helvetica;font-size:40px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:-1px;color:#606060!important">Your
                                                                                        KYC verification is complete!</h1>
                                                                                    &nbsp;

                                                                                    <p style="margin:1em 0;padding:0;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:center">Thank
                                                                                        you for completing our KYC
                                                                                        process!</p>

                                                                                    <p style="margin:1em 0;padding:0;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:center">
                                                                                        We noticed that you have yet to
                                                                                        whitelist your Wanchain address
                                                                                        with us.
                                                                                    </p>

                                                                                    <p style="margin:1em 0;padding:0;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:center">
                                                                                        To do so, log into your account
                                                                                        below, look on your dashboard
                                                                                        for where it says "Whitelist
                                                                                        Your WAN Address", and follow
                                                                                        the instructions there.
                                                                                        <p style="margin:1em 0;padding:0;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:center">
                                                                                            Once we have your address
                                                                                            whitelisted, you can
                                                                                            purchase
                                                                                            MDX tokens by sending WAN
                                                                                            (100 min) from the address
                                                                                            you whitelisted to our ICO
                                                                                            address at:
                                                                                        </p>
                                                                                        <p style="margin:1em 0;padding:0;color:#606060;font-family:Helvetica;font-size:18px;line-height:150%;text-align:center">
                                                                                            0xba26c075f4038920fbafe09ab961362b3248921a
                                                                                        </p>

                                                                                        <div style="text-align: center; padding: 10px 40%;font-size:20px; background-color: #0099FF; width:20%;">
                                                                                            <a style="text-align: center;font-family: Helvetica;font-size:20px; background-color: #0099FF;text-decoration: none;color:white;"
                                                                                                href="https://blockmedx.com/investors/login">
                                                                                                LOGIN
                                                                                            </a>
                                                                                        </div>

                                                                                        <p style="margin:1em 0;padding:0;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;font-weight:bold;text-align:center">
                                                                                            <a href="https://www.binance.com"
                                                                                                target="_blank" style="color:#0099FF;">Where
                                                                                                can I buy WAN?</a>
                                                                                        </p>
                                                                                        <p style="margin:1em 0;padding:0;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;font-weight:bold;text-align:center">
                                                                                            <a href="https://wanchain.org/product"
                                                                                                target="_blank" style="color:#0099FF;">Where
                                                                                                can I create a WAN
                                                                                                wallet?</a>
                                                                                        </p>
                                                                                        <p style="margin:1em 0;padding:0;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:center">If
                                                                                            you have any issues or
                                                                                            questions, please contact
                                                                                            us at
                                                                                            <a href="mailto:info@blockmedx.com"
                                                                                                style="color:#0099FF;">
                                                                                                info@blockmedx.com</a>
                                                                                        </p>
                                                                                        <div style="text-align: center;padding-bottom: 50px;">
                                                                                            <img alt="blockmedx-logo-alternate"
                                                                                                src="https://s3.us-east-2.amazonaws.com/blockmedx-logos/BlockMedX+Logo.png"
                                                                                                width="100" style="max-width:100px;padding-bottom:0;display:inline;vertical-align:bottom;text-align: center; border:0;outline:none;text-decoration:none"
                                                                                                class="CToWUd a6T">
                                                                                        </div>
                                                                                        &nbsp;
                                                                                        <hr>&nbsp;

                                                                                        <p style="background: #a45da6; color: white; font-size: 10px; text-align: center; padding: 20px;">
                                                                                            The information contained
                                                                                            in
                                                                                            this email communication is
                                                                                            for
                                                                                            informational purposes.
                                                                                            This
                                                                                            email communication may
                                                                                            contain a description of
                                                                                            the
                                                                                            BlockMedx platform,
                                                                                            functionality of the MDX
                                                                                            tokens, forward-looking
                                                                                            statements,
                                                                                            and may contain links to
                                                                                            the
                                                                                            BlockMedx White Paper and
                                                                                            website. The information
                                                                                            contained in this email
                                                                                            communication
                                                                                            should not be viewed as,
                                                                                            and is
                                                                                            not, an offer to sell or a
                                                                                            solicitation of an offer to
                                                                                            buy
                                                                                            any security or token in
                                                                                            any
                                                                                            jurisdiction whatsoever.
                                                                                            This
                                                                                            email communication is
                                                                                            intended
                                                                                            only for the person or
                                                                                            entity
                                                                                            to whom it is addressed and
                                                                                            may contain information
                                                                                            that is
                                                                                            privileged, confidential,
                                                                                            or
                                                                                            otherwise protected from
                                                                                            disclosure. If you are not
                                                                                            the
                                                                                            intended recipient, or an
                                                                                            employee or agent
                                                                                            responsible
                                                                                            for delivering this message
                                                                                            to
                                                                                            the intended recipient, you
                                                                                            are
                                                                                            notified that any
                                                                                            disclosure,
                                                                                            copying, distribution, or
                                                                                            the
                                                                                            taking of any action in
                                                                                            reliance on the contents of
                                                                                            this
                                                                                            message is prohibited. If
                                                                                            you
                                                                                            have received this email
                                                                                            communication in error,
                                                                                            please
                                                                                            contact the sender
                                                                                            immediately
                                                                                            and delete the original
                                                                                            message
                                                                                            and all copies from your
                                                                                            system.
                                                                                        </p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    </td>
    </tr>
    </tbody>
    </table>
</body>

</html>